/Fabric/.gradle/
/Fabric/build/
/Fabric/remappedSrc/
/Fabric/run/
/Forge/build/
/Forge/run-data/
/Forge/run/
.idea/
.gradle/
*.backup
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-common-e2200bfc56/1.20.1-net.fabricmc.yarn.1_20_1.1.20.1+build.10-v2/minecraft-common-e2200bfc56-1.20.1-net.fabricmc.yarn.1_20_1.1.20.1+build.10-v2.jar.backup
.gradle/loom-cache/minecraftMaven/net/minecraft/minecraft-clientOnly-7787b014d4/1.20.1-net.fabricmc.yarn.1_20_1.1.20.1+build.10-v2/minecraft-clientOnly-7787b014d4-1.20.1-net.fabricmc.yarn.1_20_1.1.20.1+build.10-v2.jar.backup
